body{
    background-color: blue;
}
@media (max-width:600px){
    body{
        background-color: crimson;
    }
    h1{
        font-size:12px;
        color: cyan;
    }
    }
    
@media(max-width:800px) and (min-width:700px){
    body{
        background-color: purple;
        font-size:30px;
        color:rgb(255, 0, 0);
    }
    }
@media only print{
    body{
        background-color: black;
        color: blanchedalmond;
        font-size: 30px;
    }
}